# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pyc
examples/test_ranking/p1.pickle
examples/test_ranking/p2.pickle
examples/test_ranking/p3.pickle

#test
examples/test_ranking/p10.pickle
examples/test_ranking/p11.pickle
examples/test_ranking/p13.pickle
examples/test_ranking/p8.pickle
examples/test_ranking/p12.pickle
examples/test_ranking/p7.pickle
examples/test_ranking/p15.pickle
examples/test_ranking/p5.pickle
examples/test_ranking/p14.pickle
examples/test_ranking/p9.pickle
examples/test_ranking/p4.pickle
examples/test_ranking/p6.pickle
examples/test_ranking/match_history.csv
examples/test_ranling/rankings.db
